<!DOCTYPE html>
<html>
<head>
    <title>Galerie</title>
</head>
<body>
    <h1>Galerie</h1>
    <!-- TO PATCH -->
    <div class="gallery" id="imageGallery">
        
    </div>

    <script>
        var folder = 'static/results';
        var imageGallery = document.getElementById('imageGallery');

        fetch(folder)
            .then(response => response.json())
            .then(data => {
                data.forEach(file => {
                    var img = document.createElement('img');
                    img.src = folder + '/' + file;
                    img.alt = file;
                    imageGallery.appendChild(img);
                });
            })
            .catch(error => console.error(error));
    </script>
</body>
</html>