<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shark AI</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="gallery-page">
    <nav>
        <a routerlink="/" class="nav-btn" href="/">
            <h2>Shark AI</h2>
        </a>
        <a href="/">Upload</a>
        <a href="/gallery" class="selected">Gallery</a>
    </nav>

    <main>
        <div class="grid-container">
            {% for image in images %}
            <div class="grid-item">
                <img src="{{ url_for('static', filename='results/' + image) }}" alt="Image">
            </div>
            {% endfor %}
        </div>
    </main>
</body>

</html>